language = "cpp"
run = "clang++ -std=c++17 -Weverything -Wno-c++98-compat -Wno-missing-prototypes -Wno-padded -Wno-deprecated -Wno-exit-time-destructors main.cpp House.cpp Job.cpp Circle.cpp Person.cpp Shape.cpp Wrappers.cpp && ./a.out"
